.label {
  --label-text-color: transparent;
  --label-background-color: transparent;
  --label-opacity: 0.75;
  --label-font-size: 12px;
  --label-scale: 1;
  --label-hovered-opacity: 1;
  --label-border-style: none;
  --label-border-width: unset;
  --label-border-color: unset;

  pointer-events: none;
  user-select: none;
  position: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 99999;

  box-sizing: border-box;
  overflow: hidden;

  font-family: sans-serif;
  font-size: var(--label-font-size);
  line-height: var(--label-font-size);
  padding: 4px;
  font-weight: bold;

  border-style: var(--label-border-style);
  border-width: var(--label-border-width);
  border-color: var(--label-border-color);

  color: var(--label-text-color);
  background-color: var(--label-background-color);
  opacity: var(--label-opacity);

  transition: opacity .2s;

  &:hover, &.hovered {
    &:not(.frame) {
      opacity: var(--label-hovered-opacity);
    }
  }

  &.ribbon {
    width: calc(200px * var(--label-scale));
    height: calc(26px * var(--label-scale));

    &.left-top {
      left: 0;
      top: 0;
      transform: translate(-50%, -50%) rotate(-45deg) translateY(calc(87px * var(--label-scale)));
    }

    &.right-top {
      right: 0;
      top: 0;
      transform: translate(50%, -50%) rotate(45deg) translateY(calc(87px * var(--label-scale)));
    }

    &.left-bottom {
      left: 0;
      bottom: 0;
      transform: translate(-50%, 50%) rotate(45deg) translateY(calc(-87px * var(--label-scale)));
    }

    &.right-bottom {
      right: 0;
      bottom: 0;
      transform: translate(50%, 50%) rotate(-45deg) translateY(calc(-87px * var(--label-scale)));
    }
  }

  &.triangle {
    width: calc(200px * var(--label-scale));
    height: calc(200px * var(--label-scale));

    &.left-top {
      left: 0;
      top: 0;
      transform: translate(-50%, -50%) rotate(-45deg);
      align-items: end;
    }

    &.right-top {
      right: 0;
      top: 0;
      transform: translate(50%, -50%) rotate(45deg);
      align-items: end;
    }

    &.left-bottom {
      left: 0;
      bottom: 0;
      transform: translate(-50%, 50%) rotate(45deg);
      align-items: start;
    }

    &.right-bottom {
      right: 0;
      bottom: 0;
      transform: translate(50%, 50%) rotate(-45deg);
      align-items: start;
    }
  }

  &.banner {
    &.left-top {
      left: 0;
      top: 0;
      width: 100%;
      height: calc(26px * var(--label-scale));
    }

    &.right-top {
      right: 0;
      top: 0;
      width: calc(26px * var(--label-scale));
      height: 100%;
      writing-mode: vertical-lr;
      text-orientation: mixed;
    }

    &.left-bottom {
      left: 0;
      top: 0;
      width: calc(26px * var(--label-scale));
      height: 100%;
      writing-mode: vertical-lr;
      text-orientation: mixed;
      transform: rotate(180deg);
    }

    &.right-bottom {
      left: 0;
      bottom: 0;
      width: 100%;
      height: calc(26px * var(--label-scale));
    }
  }

  &.frame {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: unset;
    border: calc(3px * var(--label-scale)) solid var(--label-background-color);
    padding: 0;
    box-shadow: inset 0 0 5px var(--label-background-color);
  }
}

